<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>
<h1>User Register</h1>
{% if form.errors %}
<p>Your username and password didn't match!
Please try again!</p>
{% endif %}

{% if request.user.is_authenticated %}
    <div>
        <a href="{% url '主页' %}">您已登录 直接进入主页</a>
    </div>
{% else %}
<form method="post" action="{% url 'registration_register' %}" class="">
    {% csrf_token %}
    <p><label>Username:</label>{{ form.username }}</p>
    <p><label>email:</label>{{ form.email }}</p>
    <p><label>Password:</label>{{ form.password1 }}</p>
    <p><label>Repeat:</label>{{ form.password2 }}</p>
    <input type="submit" value="reg" />
</form>
{% endif %}
</body>
</html>